<!DOCTYPE html>
<html>


<head>
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <script src="//use.typekit.net/bdj5fdl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <title>HomeSplash</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="clearance_links">
    <% if signed_in? %>
      Welcome <%= current_user.email %>
      <%= link_to (fa_icon "sign-out", text: "Sign Out?"), sign_out_path, method: :delete %>
    <% else %>
      <%= link_to (fa_icon "users fa-2x", text: "Sign-in" ), sign_in_path %>
    <% end %>


    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </div>

  <div id="top"></div>
  <div id="bottom"></div>

  <%= yield %>

  <%= render 'shared/footer' %>
</body>
</html>
